[submodule "thirdparty/CMSIS_5"]
	path = thirdparty/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "thirdparty/Eigen"]
	path = thirdparty/Eigen
	url = https://github.com/libigl/eigen.git
[submodule "thirdparty/mavlink"]
	path = thirdparty/mavlink
	url = https://github.com/mavlink/mavlink.git
[submodule "bootloader/uf2-bootloader"]
	path = bootloader/uf2-bootloader
	url = https://github.com/microsoft/uf2-samdx1.git
[submodule "BSP/pico-sdk"]
	path = BSP/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk
[submodule "components/stmems"]
	path = components/stmems
	url = https://github.com/STMicroelectronics/STMems_Standard_C_drivers
[submodule "thirdparty/tinyusb"]
	path = thirdparty/tinyusb
	url = https://github.com/hathach/tinyusb.git
